* {
    box-sizing:border-box;
    font-family:0 BlinkMacSystemFont, sans-serif;
    margin:0;
    padding:0;
}

li,a,button {
    font-weight:500;
    font-size:12px;
    color:#FFF;
    transition:all .3s ease 0;
}

.nav-bar {
    background-color:#2E2F30;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    box-shadow:0 4px 2px -2px rgba(0,0,0,.2);
    padding:5px 5%;
}

.logo {
    color:#FFF;
    font-size:16px;
    margin-right:auto;
    }

.nav-bar-links {
    list-style:none;
}

.nav-bar-links li {
    display:inline-block;
    margin-top:12px;
    padding:0 12px;
}

.container {
    color:#000;
    text-align:center;
    margin:15% auto 0;
}

.container h1,p {
    text-shadow:.5px 1px rgba(0,0,0,.2);
}

.container * {
    padding:12px 0;
}

.container a {
    font-size:inherit;
    color:#2E2F30;
}

.container a:hover {
    font-size:inherit;
    color:#AAA;
    text-decoration:none;
}

footer {
    background-color:#2E2F30;
    position:absolute;
    bottom:0;
    width:100%;
    padding:5px 5%;
}

footer .copyright {
    margin-top:12px;
    font-size:12px;
    text-align:center;
    color:#FFF;
}

.logo:hover,.nav-bar-links li :hover {
    color:#AAA;
    text-decoration:none;
}